body {
	font-family: PT Sans, sans-serif;
	background: #F8F8F8;
	}
h1 {
	margin-top: 0px;
	font-size: 48px;
	}
.page {
	text-align: left;
	width: 80%;
	padding: 20px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px #E0E0E0;
	}
.tabbar {
	padding-bottom: 5px;
	border-bottom: 1px solid #00CCFF;
	}
.menutab {
	display: inline;
	}
.mtlink:link, .mtlink:visited {
	font-size: large;
	font-weight: bold;
	text-decoration: none;
	color: #00CCFF;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px 5px 0px 0px;
	}
.mtlink:hover {
	color: #FFFFFF;
	background: #00CCFF;
	}
.mtlink:active {
	box-shadow: inset 0px 1px 5px #003333;
	}
.body {
	margin-bottom: 20px;
	}
.footer {
	padding-top: 5px;
	border-top: 1px solid #00CCFF;
	font-size: small;
	font-style: italic;
	}